@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: aquamarine;
}

main {
    opacity: 0.4;
}

a:visited {
    color: plum;
}

a:hover, a:focus {
    color: darkgreen ;
    background-color: papayawhip;
    opacity: 0.4;
}