
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    background: linear-gradient(rgba(192, 212, 210, 0.5),rgba(255,255,255,0.5) );
    background-size: cover;
    background-position:center ;
    background-blend-mode: hard-light;
  }

.tag {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 5%;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
}

img {
    border-radius: 10%;
    border: 5px solid saddlebrown;
    margin-left: 1.5%;
}

header {
    max-width: 900px;
    margin:40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-image:linear-gradient(rgba(192, 212, 210, 0.5),rgba(255,255,255,0.5) ),url("../cssproject/img/background.jpg");
}

nav a {
    font-size: larger;
    padding: 1rem;
    justify-content: space-evenly;
}

button {
    border-radius: 15%;
    border: 5px double aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.5%;
    font-weight: bold;
    white-space: nowrap;
}

footer {
    text-align: center;
}