@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

.tag {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 5%;
}


img {
    border-radius: 10%;
    border: 5px solid cyan;
    margin-left: 1.5%;
}

hr {
    margin: 10px ;
}

body {
    background:no-repeat linear-gradient(rgb(96, 96, 176),skyblue,aliceblue);
    background-position:right center;
    background-repeat:no-repeat;
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}

nav a {
    font-size: larger;
    padding: 1rem;
    justify-content: space-evenly;
}

section {
    font-size: small;
}