@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

.tag {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 5%;
}


img {
    border-radius: 10%;
    border: 5px solid cyan;
    margin-left: 1.5%;
}

hr {
    margin: 10px ;
}

header {
    max-width: 900px;
    margin:40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color:skyblue ;
}

body {
    background:no-repeat linear-gradient(rgb(96, 96, 176),skyblue,aliceblue);
    background-position:right center;
    background-repeat:no-repeat;
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}

nav a {
    font-size: larger;
    padding: 1rem;
    justify-content: space-evenly;
}

section {
    font-size: smaller;
    font-weight: lighter;
    
}

button {
    border-radius: 15%;
    border: 5px double aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.5%;
    font-weight: bold;
    white-space: nowrap;
}

footer {
    text-align: center;
}